@model AcademiaCintia.Models.Modalidade

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="display-4">Modalidade</h1>
<h4 class="display-6">Excluir</h4>

<h3 class="text-danger">Confirma a exclusão desse Modalidade?</h3>
<div>
    <dl class="row" enctype="multipart/form-data">
        <div class="col-md-4 col-sm-12 col-xxl-3">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
            <img src="@Model.Foto">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary" style="background-color: #3bb54a"><i class="bi bi-arrow-left-circle-fill"></i> Voltar a Listagem</a>
    </form>
</div>
