@model AcademiaCintia.ViewModels.NossoTimeVM
@{
    ViewData["Title"] = "Nosso Time";
}

<!-- Team Section Begin -->
<section class="team-section team-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-title">
                    <div class="section-title">
                        <span>Seu time</span>
                        <h2>TREINE COM OS MELHORES</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var professor in Model.Professores)
            {
                <div class="col-lg-4 col-sm-6">
                    <div class="ts-item set-bg" data-setbg="@professor.Foto">
                        <div class="ts_text">
                            <h4>@professor.Nome</h4>
                            <span>@professor.Cargo</span>
                            <div class="tt_social">
                                <a href="@professor.Facebook"><i class="fa fa-facebook"></i></a>
                                <a href="@professor.Instagram"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Team Section End -->

<!-- Banner Section Begin -->
<section class="banner-section set-bg" data-setbg="../img/banner-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="bs-text service-banner">
                    <h2>SAIBA MAIS SOBRE A EQUIPE</h2>
                    <div class="bt-tips">Video de apresentação</div>
                    <a href="~/img/video.mp4" class="play-btn video-popup"><i class="fa fa-caret-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Get In Touch Section Begin -->
<div class="gettouch-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-map-marker"></i>
                    <p>R. da Constituicão, 49 - Jardim Vista Alegre, Barra Bonita - SP</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-mobile"></i>
                    <ul>
                        <li>(14)99775-7743</li>
                        <li>(14)3438-1447</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text email">
                    <i class="fa fa-instagram"></i>
                    <p>@@academiacintia</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Get In Touch Section End -->