@model IEnumerable<AcademiaCintia.Models.Professor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
}
@section Scripts {
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script src="~/js/datatables.js"></script>
}

<h1 class="display-4">Lista de Professores</h1>
<p class="py-3">
    <a class="btn btn-secondary" asp-action="Create" style="background-color: #3bb54a"><i class="bi bi-plus-circle-fill"></i> Adicionar</a>
</p>

<table id="myTable" class="table w-100">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" style="color: #3bb54a" data-bs-toggle="tooltip" data-bs-title="Editar Gênero"><i
                            class="bi bi-pencil-fill"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id" style="color: #3bb54a" data-bs-toggle="tooltip"
                        data-bs-title="Exibir Detalhes"><i class="bi bi-search"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" style="color: #3bb54a" data-bs-toggle="tooltip"
                        data-bs-title="Excluir Gênero"><i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
